{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
       
          
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">岗位名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <!-- <input type="text" class="input-text" placeholder="学号" name="number" value="{$vo.advduty ?? ''}" > -->
                 <select name="advname" class="select">
                 	<option value="0">请选择</option>
                 		{volist name="vo" id="vo"}
	                        
	                        <option value="{$vo.advname}">{$vo.advname}</option>
                        {/volist}
                 </select>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">岗位职责：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <!-- <input type="text" class="input-text" placeholder="姓名" name="fullname" value="{$vo.advduty ?? ''}" > -->
                 <textarea class="textarea" placeholder="请输入岗位职责" name="advduty" style="width:100%; overflow:auto;word-break:break-all;height: 200px;" onKeyUp="textarealength(this, 100)"></textarea>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        
       

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;发布&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
     
        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){

                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
