<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.comcode}</td>
<td>{$vo.comname}</td>
<td>{$vo.comadress}</td>
<td>{$vo.comname}</td>
<td>{$vo.comtelphone}</td>
<td>{$vo.comdesc}</td>
<td>{$vo.comqua}</td>
<td>{$vo.comcategory}</td>
<td>{$vo.comscale}</td>
<td>{$vo.comlicense}</td>
<td>{$vo.comtaxreg}</td>
<td>{$vo.commecode}</td>
<td>{$vo.comhome}</td>
<td>{$vo.comtfpass}</td>
<td>{$vo.commissioner}</td>
<td>{$vo.comlogo}</td>
<td>{$vo.comthumb}</td>
<td>{$vo.comtfthumb}</td>
<td>{$vo.comtfexcellent}</td>
<td>{$vo.loginid}</td>