<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.comcode}</td>
<td>{$vo.comname}</td>
<td>{$vo.comadress}</td>
<td>{$vo.compeople}</td>
<td>{$vo.comtelphone}</td>
<!--<td>{$vo.comdesc}</td>
<td>{$vo.comqua}</td>
<td>{$vo.comcategory}</td>
<td>{$vo.comscale}</td>
<td>{$vo.comlicense}</td>
<td>{$vo.comtaxreg}</td>
<td>{$vo.commecode}</td>
<td>{$vo.comhome}</td> -->
<td>
	{if condition=" $vo.comtfpass ==0 "}未审核{/if}
	{if condition=" $vo.comtfpass ==1 "}是{/if} 
	{if condition=" $vo.comtfpass ==2 "}否{/if}
</td>
<!-- <td>{$vo.commissioner}</td>
<td>{$vo.comlogo}</td> -->
<!-- <td>{$vo.comthumb}</td> -->
<td>
	{if condition=" $vo.comtfthumb ==0 "}未审核{/if}
	{if condition=" $vo.comtfthumb ==1 "}是{/if} 
	{if condition=" $vo.comtfthumb ==2 "}否{/if}

</td>
<td>
	{if condition=" $vo.comtfexcellent ==0 "}未审核{/if}
	{if condition=" $vo.comtfexcellent ==1 "}是{/if} 
	{if condition=" $vo.comtfexcellent ==2 "}否{/if}
</td>
<!-- <td>{$vo.loginid}</td> -->