{extend name="template/base" /}
{block name="content"}
<div class="page-container">
   <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="">学号</th>
            <th width="">姓名</th>
            <th width="">性别</th>
            <th width="">学历</th>
            <th width="">在职状态</th>
        </tr>
        </thead>
        <tbody>

        {volist name="res" id="vo"}
       
        <tr class="text-c">
             <td class="f-14" width="">
                {$vo.identifier}
            </td>
            <td class="f-14">
                {$vo.fullname}
            </td>
            <td class="f-14">
                {if condition =" $vo.sex eq 0"}男{else/}女{/if}
            </td>
            <td class="f-14">
                {$vo.education}
            </td>
             <td class="f-14">
                {if condition=" $vo.stustatus ==0 "}求职 {else/} 在职 {/if}
            </td>
        </tr>
        {/volist}
           <!-- <a href="{:url('Departman/publish')}" class="btn btn-primary radius mr-5">发送通知</a> -->
        </tbody>
    </table>
</div>
{/block}